.header {
  height: 34vw;
  margin: 30px auto;
  background: url("./header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  max-width: 52%;
  position: absolute;
  bottom: 30px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  animation: fadeIn 2s;
}

.header-contents h2 {
  font-size: max(4.5vw, 22px);
  color: white;
  font-weight: 600;
}

.header-contents p {
  color: white;
  font-size: max(1vw, 16px);
}

.header-contents button{
    padding: 0.8vw 3vw;
    border-radius: 50px;
    border: none;
    color:rgb(52, 52, 52);
    font-size: max(1.2vw, 12px);
    cursor: pointer;
}
