.navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 18px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 40px;
}

.navbar-right button {
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 14px;
  background: white;
  cursor: pointer;
  border: 1px solid tomato;
}

.navbar-right button:hover {
  background-color: tomato;
  color: white;
}

.navbar .active{
  padding-bottom: 4px;
  border-bottom: 4px solid tomato;
}
