.navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  gap: 55px;
  font-size: 20px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar-right button {
  padding: 8px 30px;
  border-radius: 50px;
  font-size: 18px;
  background: white;
  cursor: pointer;
  border: 1px solid tomato;
}

.navbar-right button:hover {
  background-color: tomato;
  color: white;
}

.navbar .active {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: tomato;
  text-decoration-thickness: 4px;
}

.cart-bucket {
  position: relative;
}

.cart-bucket .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  top: -8px;
  right: -8px;
  border-radius: 5px;
}

.navbar-right img{
  width: 30px;
}